<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../../controller.js"></script>

  <title>engee</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/freelancer.css" rel="stylesheet">

  <!-- Loading Screen -->
  <!--link rel="stylesheet" href="css/normalize.css"-->
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>

  <!-- Model Page -->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Loading Screen -->
  <div id="loader-wrapper" style="display:none">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

  <div id='Page1' style="display:block">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">engee</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#intro">Introduction</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#dataset">Choose Dataset</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a id="ModelNavBar" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="display:none" href="#model">Customize Model</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid  d-block mx-auto" src="../images/logo_sm.png" alt="">
        <h1 class="mb-0">engee</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">LMAOEIEIEIE</h2>
      </div>
    </header>

    <!-- Introduction Section -->
    <section class="portfolio" id="intro">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Introduction</h2>
        <hr class="star-dark mb-5">

        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead"> engee is the premier cutting-edge web application designed to provide hands-on experience working with datasets with an easy-to-use interface and real-time feedback for several prepackaged datasets. </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Whether you're a student or just interested in working with data, engee is a great place to get your feet wet. Don't wait any longer to start learning about the world of machine learning and statistics! </p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#dataset">
              Get Started!
          </a>
        </div>
      </div>
    </section>

    <!-- Dataset Section -->
    <section class="bg-primary text-white mb-0" id="dataset">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Choose Your Dataset</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/cake.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/circus.png" alt="">
            </a>
          </div>

          <div class="text-center mt-4 col-lg-4"> </div>

          <div class="text-center mt-4 col-lg-4">
            <label for="file" class="btn btn-xl btn-outline-light">Select .CSV File</label>
            <input id="file" name="file" style="visibility:hidden;" type="file" accept=".csv" multiple>
          </div>
        </div>
      </div>
    </section>

    <!-- Model Selection Section -->
    <div id="ModelSection" style="display:none;">
      <section id="model">
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0">Data Preview</h2>
          <hr class="star-dark mb-5">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <div style="overflow-x: auto;
                        overflow-y: hidden;
                        white-space: nowrap;
                        margin-bottom: 30px;">
                <table id="OverviewTable" class="table">
                </table>
              </div>

              <div class="text-center mt-4">
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#FeaturesSection">
                 Setup Model
             </a>
              </div>
            </div>
          </div>
      </section>
      </div>

      <section id="FeaturesSection" class="bg-primary text-white mb-0" style="display:none">
        <div class="container">
          <h2 class="text-center text-uppercase text-white">Feature Selection</h2>
          <center>
            <div class="info-div">
              <hr style='visibility:hidden'>
              <hr class="info-light mb-5">
              <span class="info-text">
                  <div class="info-content">
                      <h3> Linear Regression </h3>
                      In statistics, linear regression is a linear approach for modelling the relationship between a scalar dependent variable y and one or more explanatory variables denoted X. The case of one explanatory variable is called simple linear regression. For more than one explanatory variable, the process is called multiple linear regression.
                  </div>
              </span>
            </div>
          </center>

          <div class="row">

            <div class="text-center mt-4 col-lg-2">
            </div>

            <div id="FeaturesDiv" class="text-center mt-4 col-lg-8">
            </div>

            <div id="ChooseButtonXDiv" class="text-center mt-4 col-lg-12">
            </div>

          </div>
        </div>
      </section>

      <section id="TargetSection" class="portfolio" style="display:none">
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0"> Target Selection</h2>
          <center>
            <div class="info-div">
              <hr style='visibility:hidden'>
              <hr class="info-dark mb-5">
              <span class="info-text">
                  <div class="info-content">
                      <h3> Linear Regression </h3>
                      In statistics, linear regression is a linear approach for modelling the relationship between a scalar dependent variable y and one or more explanatory variables denoted X. The case of one explanatory variable is called simple linear regression. For more than one explanatory variable, the process is called multiple linear regression.
                  </div>
              </span>
            </div>
          </center>
          <div class="row">

            <div id="TargetDiv" class="text-center mt-4 col-lg-12"> </div>

            <div id="ChooseButtonYDiv" class="text-center mt-4 col-lg-12"></div>

          </div>
        </div>
      </section>

      <section id="ModelType" class="bg-primary text-white mb-0" style="display:none">
        <div class="container">
          <h2 class="text-center text-uppercase text-white"> Model Type</h2>
          <center>
            <div class="info-div">
              <hr style='visibility:hidden'>
              <hr class="info-light mb-5">
              <span class="info-text">
                  <div class="info-content">
                      <h3> Linear Regression </h3>
                      In statistics, linear regression is a linear approach for modelling the relationship between a scalar dependent variable y and one or more explanatory variables denoted X. The case of one explanatory variable is called simple linear regression. For more than one explanatory variable, the process is called multiple linear regression.
                  </div>
              </span>
            </div>
          </center>
          <div class="row">

            <div id="ModelTypeDiv" class="text-center mt-4 col-lg-12"> </div>

          </div>
        </div>
      </section>

      <section id="ModelSelection" class="portfolio" style="display:none">
        <div class="container">

          <h2 class="text-center text-uppercase text-secondary mb-0"> Model Selection</h2>
          <center>
            <div class="info-div">
              <hr style='visibility:hidden'>
              <hr class="info-dark mb-5">
              <span class="info-text">
                  <div class="info-content">
                      <h3> Linear Regression </h3>
                      In statistics, linear regression is a linear approach for modelling the relationship between a scalar dependent variable y and one or more explanatory variables denoted X. The case of one explanatory variable is called simple linear regression. For more than one explanatory variable, the process is called multiple linear regression.
                  </div>
              </span>
            </div>
          </center>
          <div id="ModelSelectRow" class="row">

            <div id="ModelSelectDiv" class="text-center mt-4 col-lg-12"> </div>

            <div id="ModelDescription" class="text-center mt-4 col-lg-12" style="display:none; height:200px">

              <div id="RegressionDescription" style='display:none;'>

                <div id="Gradient" class="model-description" style='display:none;'>
                  <h3> Gradient Boosting Regression </h3> Gradient boosting is a machine learning technique for regression problems, which produces a prediction model in the form of an ensemble of weak prediction models, typically decision trees.
                </div>

                <div id="Lasso" class="model-description" style='display:none;'>
                  <h3> Lasso Regression </h3> In statistics and machine learning, lasso (least absolute shrinkage and selection operator) is a regression analysis method that performs both variable selection and regularization in order to enhance the prediction accuracy and interpretability
                  of the statistical model it produces.
                </div>

                <div id="Linear" class="model-description" style='display:none;'>
                  <h3> Linear Regression </h3> In statistics, linear regression is a linear approach for modelling the relationship between a scalar dependent variable y and one or more explanatory variables denoted X. The case of one explanatory variable is called simple linear
                  regression. For more than one explanatory variable, the process is called multiple linear regression.
                </div>

                <div id="Neural1" class="model-description" style='display:none;'>
                  <h3> Neural Network Regressor </h3> Neural networks are computing systems inspired by the biological neural networks that constitute animal brains. Such systems learn tasks by considering examples, generally without task-specific programming.
                </div>

                <div id="Support1" class="model-description" style='display:none;'>
                  <h3> Support Vector Machine </h3> In machine learning, support vector machines are supervised learning models with associated learning algorithms that analyze data used for classification and regression analysis.
                </div>

              </div>

              <div id="ClassificationDescription" style='display:none'>

                <div id="KNearest" class="model-description" style='display:none;'>
                  <h3> K-Nearest Neighbors </h3> In pattern recognition, the k-nearest neighbors algorithm is a non-parametric method used for classification. In both cases, the input consists of the k closest training examples in the feature space. In k-NN classification, the output
                  is a class membership. An object is classified by a majority vote of its neighbors.
                </div>

                <div id="Logistic" class="model-description" style='display:none;'>
                  <h3> Logistic Regression </h3> In statistics, logistic regression, or logit model, is a regression model where the dependent variable is categorical. In binary logistic regression, output can take only two values, "0" and "1". Cases where the dependent variable has
                  more than two outcome categories may be analysed in multinomial logistic regression.
                </div>

                <div id="Neural2" class="model-description" style='display:none;'>
                  <h3> Neural Network Regressor </h3> Neural networks are computing systems inspired by the biological neural networks that constitute animal brains. Such systems learn tasks by considering examples, generally without task-specific programming.
                </div>

                <div id="RandomForest" class="model-description" style='display:none;'>
                  <h3> Random Forests </h3> Random forests are an ensemble learning method for classification, that operate by constructing a multitude of decision trees at training time and outputting the class that is the mode of the classes.
                </div>

                <div id="Support2" class="model-description" style='display:none;'>
                  <h3> Support Vector Machine </h3> In machine learning, support vector machines are supervised learning models with associated learning algorithms that analyze data used for classification and regression analysis.
                </div>

              </div>

            </div>

          </div>

        </div>
      </section>

      <!-- Footer -->
      <footer class="footer text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Location</h4>
              <p class="lead mb-0">Carnegie Mellon University
                <br>Pittsburgh, PA 15213</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-dribbble"></i>
                </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4 class="text-uppercase mb-4">About engee</h4>
              <p class="lead mb-0">engee was created by four dudes who like machine learning and want to teach others about it</p>
            </div>
          </div>
        </div>
      </footer>

      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; engee 2018</small>
        </div>
      </div>

      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
      </div>

      <!-- Portfolio Modals -->

      <!-- Portfolio Modal 1 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="img/portfolio/cabin.png" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Portfolio Modal 2 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="img/portfolio/cake.png" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Portfolio Modal 3 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="img/portfolio/circus.png" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Page1 Div -->

    <div id="PageR" style="display:none">

      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="modelNav">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    		  <span class="navbar-toggler-icon"></span>
    		</button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Data Sets">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
    						<i class="fa fa-fw fa-wrench"></i>
    						<span class="nav-link-text">Change Model</span>
    				  </a>
              <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                <div class="border1" id="neuralDisplay" style="border: 5px solid #353942; display:none; color:rgb(173,177,186); background:#353942;">
                  Neural networks are computing systems inspired by the biological neural networks that constitute animal brains. Such systems learn tasks by considering examples, generally without task-specific programming. Trades speed for accuracy. Typically better
                  for classification, but can be good for regression too.</span>
                </div>
                <div class="arrow-left1" id="neuralTriangle" style="display:none;"></div>

                <div class="border2" id="gradientDisplay" style="border: 5px solid #353942; display:none; color:rgb(173,177,186); background:#353942;">
                  Gradient boosting is a machine learning technique for regression problems, which produces a prediction model in the form of an ensemble of weak prediction models, typically decision trees. Trades speed for accuracy
                </div>
                <div class="arrow-left2" id="gradientTriangle" style="display:none;"></div>

                <div class="border3" id="lassoDisplay" style="border: 5px solid #353942; display:none; color:rgb(173,177,186); background:#353942;">
                  LASSO (least absolute shrinkage and selection operator) is a regression analysis method that performs both variable selection and regularization in order to enhance the prediction accuracy and interpretability of the statistical model it produces.
                </div>
                <div class="arrow-left3" id="lassoTriangle" style="display:none;"></div>

                <div class="border4" id="regressionDisplay" style="border: 5px solid #353942; display:none; color:rgb(173,177,186); background:#353942;">
                  Linear regression is a linear approach for modelling the relationship between a scalar dependent variable y and one or more explanatory variables denoted X. Simple and quick model; usually a good baseline.

                </div>
                <div class="arrow-left4" id="regressionTriangle" style="display:none;"></div>
                <div class="border5" id="vectorDisplay" style="border: 5px solid #353942; display:none; color:rgb(173,177,186); background:#353942;">
                  Support vector machines are supervised learning models with associated learning algorithms that analyze data used for classification and regression analysis.

                </div>
                <div class="arrow-left5" id="vectorTriangle" style="display:none;"></div>

                <li>
                  <!-- should link to loading-->
                  <a href="#" id="selectedNeuralNetwork" onmouseover="popupAppear(neuralDisplay,neuralTriangle);increaseHue(this)" ; onmouseout="originalHue(this);popupDisappear(neuralDisplay,neuralTriangle)" ;>Neural Network</a>

                </li>
                <li>
                  <a href="#" id="selectedGradient" onmouseover="increaseHue(this);popupAppear(gradientDisplay,gradientTriangle)" ; onmouseout="originalHue(this);popupDisappear(gradientDisplay,gradientTriangle)" ;>Gradient Boosting Regression</a>
                </li>
                <li>
                  <a href="#" id="selectedLasso" onmouseover="increaseHue(this);popupAppear(lassoDisplay,lassoTriangle)" ; onmouseout="originalHue(this);popupDisappear(lassoDisplay,lassoTriangle)" ;>LASSO Regression</a>
                </li>
                <li>
                  <a href="#" id="selectedLinearRegression" onmouseover="increaseHue(this);popupAppear(regressionDisplay,regressionTriangle)" onmouseout="originalHue(this);popupDisappear(regressionDisplay,regressionTriangle)">Linear Regression</a>
                </li>
                <li>
                  <a href="#" id="selectedSupportVector" onmouseover="increaseHue(this);popupAppear(vectorDisplay,vectorTriangle)" onmouseout="originalHue(this);popupDisappear(vectorDisplay,vectorTriangle)">Support Vector Machine</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
              <a class="nav-link text-center" id="sidenavToggler">
    						<i class="fa fa-fw fa-angle-left"></i>
    				  </a>
            </li>
          </ul>
      </nav>

      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <br>
          <hr style="height:1px; visibility:hidden;" />
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <div id="modelName"></div>
            </li>
            <li class="breadcrumb-item active">Results</li>
          </ol>

          <div>
            <h1 style="border: 5px solid 	#E7ECF0; background: 	#E7ECF0; border-radius: 25px;">
              <p style="text-align: center; font-size:150%; color:#B1B7B7">
                <div id= "modelHeading"></div>
              </p>
              <p style="text-align:center; font-size:90%; color:#B1B7B7">
                <div id= "modelAccuracy"></div>
              </p>
            </h1>
          </div>
          <div>
            <img id="plot1" class="img-fluid  d-block mx-auto" align="left" width="605" src="graphs/lasso.png" alt="">
            <img id="plot2" class="img-fluid  d-block mx-auto" align="right" width="605" src="graphs/lasso.png" alt="">
          </div>
          <div>
            <p style="font-size:150%; ">
              <br>
              <div style="text-align:center; font-size:150%" ;>
                <b>Code:</b>
              </div>
              <!-- <div id= "modelAccuracy"></div> insert in the blanks-->
            </p>
          </div>

          <div style="text-align:center" ;>
            <textarea id="codeSnippet" name="codeSnippet" rows="15" cols="110" readonly>
              <div id= "codeSnip"></div>
            </textarea>
          </div>

          <br>
          <br>
          <div>
            <div style="text-align:center; font-size:110%" ;>
              <b>Using the input boxes below, you can put in custom parameters and see what your model predicts from your data set.</b>
            </div>
            <br>
            <form style="margin-left:calc(50% - 350px); float:left; display:inline-block;" onsubmit="return predictFunction(); ">
              Input 1:
              <br>
              <input type="text" name="firstpredictor">
              <br> Input 2:
              <br>
              <input type="text" name="secondpredictor">
              <br> Input 3:
              <br>
              <input type="text" name="thirdpredictor">
              <br>
              <br>
              <input type="submit" value="Predict" onclick="">
            </form>
            <textarea style=" margin-left:calc(50% - 550px); display:inline-block; margin-bottom:75px;" rows="7" cols="50" ; readonly>
          			</textarea>
          </div>













        </div>
      </div>
      <!-- /.container-fluid-->
      <!-- /.content-wrapper-->
      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; engee 2018</small>
        </div>
      </div>

      </div>
    </div>

    <div id="PageC" style="display:none">

      <h1> Classification </h1>
      <div id="Score"></div>
      <div id="Plot1"></div>
      <div id="Plot2"></div>
      <div id="Predict"></div>
      <div id="Reset"></div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

    <!-- Loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
    </script>
    <script src="js/main.js"></script>

    <!-- Model Page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/testjavascript.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>

</body>

</html>
