<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../controller.js"></script>
    <title>Button Time</title>
  </head>
  <body>
    <div>
      <button id='SelectIris' type="button" name="IrisButton">Iris</button>
    </div>
    <div>
      <input type="file" id="file" name="file" multiple>
      <button id='SelectOwn' type="button" name="OwnButton">Own Data</button>
    </div>
  </body>
</html>
